<mat-sidenav-container class="sidenavContainer">
<mat-nav-list densed>
    <a mat-list-item routerLink="./">
        <span matListItemTitle>Inicio</span>
    </a>
    <a mat-list-item routerLink="students">
        <span matListItemTitle>Estudiantes</span>
    </a>
    <a mat-list-item routerLink="teachers">
        <span matListItemTitle>Docentes</span>
    </a>
    <a mat-list-item routerLink="subjects">
        <span matListItemTitle>Materias</span>
    </a>
</mat-nav-list>
</mat-sidenav-container>